@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
:root{
    --cor0: #e1ecd6;
    --cor1: #aee1d3;
    --cor2: #7cd7cf;
    --cor3: #49cccc;
    --cor4: #16c1c8;
    --cor5: #ffffff;
    --cor6: #7b7b7b;
    --cor7: #0371cc;
    --cor8: #6FB882;

    --font-padrao: 'Noto Sans', sans-serif;
    --font-titulo: 'Passion One', cursive;
    --font-span: 'Caveat', cursive;
    

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

body {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

header#cabecalho img#icone {
	position: absolute;
	left: 1150px;
	top: 55px;
    width: 100px;
    height: 100px;
}

div#interface {
width: 90%;
background-color: white;
margin: -20px auto 0 auto;
box-shadow: 0 0 10px rgba(0,0,0,.5);
padding: 20px;


}
header#cabecalho {
	border-bottom:  1px #606060 solid;
	height: 160px;
	background: url("imagens/LASER\ DEPILATION.png") no-repeat 0 -12px;
	margin-left: 10px;
}

header#cabecalho h2 {
	font-family: Arial, sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}

nav#menu {
	display: block;
}

nav#menu ul {
    margin-top: 15px;
	list-style: none;
	text-transform: uppercase;
	float: right;
}

nav#menu li {
	display: inline-block;
	margin: 2px;
    transition: background-color 1s;
    border-radius: 20px;
    background-color: var(--cor4);
}

nav#menu li a{
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    border-radius: 20px;
    color: white;
    font-size: 16px;
    text-decoration: none; 
}

nav#menu li a:hover {
    background-color: white;
    color: black;
    border: 2px solid var(--cor2);
    transform: scale(1.1);
    transition: all ease 0.5s;
}

nav#menu h1 {
	display: none;
}

.foto-legenda{
    margin-left: -20px;
}

.heading {
    display: flex;
    justify-content: center;   
}

.heading h1 {
    color: var(--cor4);
    font-size: 80px;
    font-family: var(--font-titulo);
    margin: 0;  
}

.heading span {
    font-size: 80px;
    color: #707070;
    font-family: var(--font-span);
    margin-right: 10px;
    font-weight: normal;
}

section{
    position: relative;
    height: 600px;
    width: 1075px;
    display: flex;
    align-items: center;
    margin: auto;
}

.swiper {
    width: 950px;
}

section .card .image{ /*div por tras da imagem*/
    height: 200px;
    width: 200px;
    border-radius: 5px;
    padding: 3px;
    background: var(--cor2);
}

section .card .image img{ /*div da imagem*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 3px solid #fff;
}

section .card:hover .image img {
    transform: scale(1.07); /*amplia a imagem*/
    transition: all ease 0.5s;
}

.card {
    position: relative;
    border-radius: 20px;
    background: #fff;
    margin: 20px 0;
    height: 530px;
    width: 292px;
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: var(--cor2);
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    position: relative;
    z-index: 100;
}

.card .card-content:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    border-radius: 20px;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card p#detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--cor6);
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}

.card p#preco {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    position: relative;
    float: left;
    margin-left: -150px;
    top: 30px;
    color: var(--cor6);
}

.card p#preconovo {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    position: relative;
    float: left;
    margin-left: -100px;
    font-size: 20px;
    color: black;
    top: 30px;   
}

.card p#cart a {
    position: absolute;
    top: 430px;
    left: 43px;
    width: 70%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    text-decoration: none;   
}

.card p#cart a:hover {
    background-color: white;
    color: black;
    border: 2px solid var(--cor2);
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: var(--cor2);
}

.swiper-button-next, .swiper-button-prev {
    opacity: 0.7;
    color: white;
    background-color: var(--cor2);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1;
    color: white;
    background-color: var(--cor2);
}

.historia {
    position: relative;
    float: right;
    top: -750px;
    width: 700px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    line-height: 60px; /*altura de uma linha a outra*/
    color: var(--cor6);
}

.historia h1 {
    color: var(--cor4);
    font-size: 80px;
    font-family: var(--font-titulo);

}

.historia span {
    font-size: 80px;
    color: #707070;
    font-family: var(--font-span);
    margin-right: 10px;
    font-weight: normal;
}

.historia p{
    position: relative;
    float: right;
    margin-top: 50px;
    width: 500px;
    margin-right: 80px;
    font-size: 50px;
    font-family: var(--font-span);
    text-shadow: 1px 1px 3px rgba(0,0,0,.6);
}

.sobre-nos span {
    font-size: 80px;
    color: #707070;
    font-family: var(--font-span);
    margin-right: 10px;
    font-weight: normal;
}

.sobre-nos h1 {
    padding: 10px;
    margin-left: 150px;
    border-radius: 10px 10px 0px 0px;
    color: var(--cor4);
    font-size: 80px;
    font-family: var(--font-titulo);
}

aside {
    background-color: var(--cor6) ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    height: 400px;
    width: 900px;
    margin: auto;
}

aside > ul {
    line-height: 60px;
    margin: 40px 30px 20px 30px;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    font-size: 20px;
}

aside li {
    font-family: var(--font-titulo);
    font-size: 25px;
    color: var(--cor5);
}

aside > img {
    position: relative;
    float: right;
    top: -320px;
    margin-right: 5%;
    height: 300px;
    width: 300px;
}

aside > img:hover {
    transform: scale(1.07); /*amplia a imagem*/
    transition: all ease 0.5s;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    margin: 15px;
    background-color: rgba(255,255,255,.8);
}

input:hover {
    transform: scale(1.07); /*amplia a imagem*/
    transition: all ease 0.5s;
}

legend {
    color: black;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

label,p {
    color: var(--cor6);
    margin-left: 10px;
}
form {
    width: 500px;
    margin: auto;
}

fieldset {
    border-color: black;
    margin: 20px;
}

.icones img {
    height: 43px;
    width: 43px;
}

.corpo {
    height: auto;
}

.corpo .atendimento {
    position: relative;
    float: right;
    margin: 20px;
    width: 300px;
    background-color: var(--cor5);
}

.corpo .atendimento h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    font-family: var(--font-padrao);
    color: var(--cor4);
}

.corpo .atendimento a img{
    width: 200px;
    height: 43px;
    margin: 10px 50px 0px;
}

.corpo .seguir {
    position: absolute;
    float: right;
    margin-top: 200px;
    margin-left: 870px;
    width: 300px;
    background-color: var(--cor5);
}

.corpo .seguir h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    font-family: var(--font-padrao);
    color: var(--cor4);
}

.corpo .seguir a img{
    width: 43px;
    height: 43px;
    margin-top: 10px;
    margin-left: 23px;
}

.corpo .mensagem {
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 600px;
    background-color: var(--cor5); 
}

.corpo .mensagem h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    text-align: center;
    font-family: var(--font-titulo);
    color: var(--cor4);
    line-height: 30px;
}

.corpo .mensagem span {
    font-size: 37px;
    color: #707070;
    font-family: var(--font-span);
    margin-right: 10px;
    font-weight: 700;
    
}

#conteudo img {
    margin-left: 100px;
    margin-top: -80px;
}

section#conteudo {
    width: 1000px;
    height: 800px;
    margin: auto;
}
iframe#frame-spec {
    width: 380px;
    height: 735px;
    border: none;
    overflow: hidden;
}
iframe#frame-spec::-webkit-scrollbar {
    display: none;
}


